$buffer:                            25px;

$navbarHeight:                      $buffer*4;

$primaryFontFamily:                 "Oswald", sans-serif;
$primaryFontSize:                   22px;
$primaryFontColor:                  #222222;

$secondaryFontFamily:               "Inconsolata", sans-serif;
$secondaryFontSize:                 $primaryFontSize*.75;

$heroFontSize:                      $primaryFontSize*3;
$heroFontColor:                      #222222;

$neutralBackgroundColor:            #f5f5f5;
$heroColor:                         #ffffff;

$villages:                          #FF3366;
$towns:                             #cc0066;
$recognition:                       #ffcc33;
$israeli:                           #0033cc;

$animationDurationLong:             .75s;
$animationDurationMiddle:           .50s;
$animationDurationSnappy:           .25s;

$offsetPeek:                        10vh;
