@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  color: $primaryFontColor;
  background: $navBackgroundColor;
  font-family: $primaryFontFamily;
  .page-container {
    overflow-x: hidden;
    padding: 0; margin: 0;
    nav {
      // height: $navbarHeight;
      font-family: $secondaryFontFamily;
      background: $navBackgroundColor;
      display: flex;
      margin: 0; padding: 0;
      a.nav-link {
        @include transition;
        &.stayUpdated {
          background: $heroBackgroundColor;
          color: #44444a;
          padding: 15px;
          border-radius: 3px;
          display: inline;
          font-family: $primaryFontFamily;
          &:hover {
            background: $neutralBackgroundColor;
            color: $heroBackgroundColor;
            @include transition;
          }
        }
      }
      @include transition;
      &.hidden {
        @include transition;
        margin-top: -$navbarHeight;
      }
      &.shown-scrolling {
        @include transition;
        margin-top: 0;
      }
      div.navbar-collapse {
        justify-content: center;
        .navbar-nav {
          padding: $buffer;
          padding-left: $buffer*2; padding-right: $buffer*2;
          width: 100vw;
        }
      }
    }
     .container-fluid {
       padding: 0; margin: 0;
       section {
         height: 100%;
         width: 100vw;
         background: $neutralBackgroundColor;
         font-size: $primaryFontSize;
         .sub-section {
           padding: $buffer*3;
           background: $navBackgroundColor;
           @include breakpoint(sm) {
             padding: $buffer*2;
           }
         }
         .hero-container {
           height: 90vh;
           position: relative;
           font-size: $heroFontSize;
           color: $heroFontColor;
           background-color: $heroBackgroundColor;
           .row {
             opacity: 0;
           }
           .hero-top {
             .hero-title {
               // font-weight: 800;
             }
           }
           .hero-bottom {
             position: absolute;
             bottom: 0;
             width: 90vw;
             padding-bottom: $buffer*3;
             .hero-statement {
               font-size: $primaryFontSize;
               font-weight: 300;
             }
           }
         }
        .legend {
           font-family: $secondaryFontFamily;
           font-size: $primaryFontSize/1.5;
           .legendLabel {
             color: $darkFontSecondary;
           }
           .legendText {
             color: $heroFontColor;
             p.icon {
               width: 40px;
               float: right;
               margin-top: -6px;
             }
           }
         }//legend
         &#intro {
           .hero-container {
             padding-top: $navbarHeight*2;
             height: 100vh;
           }
           .big-map {
             background-image: url('../assets/01_intro/whole_map_comp.jpg');
             background-size: cover;
             background-position: bottom;
             height: 300vh;
             img {
               width: 100%;
               // max-width: 100%;
             }
           }
         }
         &#historical {
           .row {
             opacity: 0;
           }
           .imagegrid-container {
             background-color: $navBackgroundColor;
             // padding: 0;
             .anno {
               width: 100%;
               .caption {
                 float: left;
                 font-family: $secondaryFontFamily;
                 color: $darkFontEmphasis;
                 font-size: $primaryFontSize/1.5;
                 margin-top: $buffer;
                 margin-bottom: $buffer*1;
                 span {
                   color: $darkFontSecondary;
                 }
               }
               .icon {
                 position: absolute;
                 right: 0;
                 margin-top: $buffer;
                 img {
                   width: 40px;
                 }
               }
             }
             img {
               width: 100%;
             }
             .imagegrid-title {
               margin-top: $buffer;
               color: $heroFontColor;
               margin-bottom: $buffer;
             }
             .space-context {
               // padding: $buffer*2 $buffer*3;
               // background: $navBackgroundColor;
               // padding-bottom: 0;
               div {
               }
               &.israeli-context{
                 // background: #00001a;
               }
               &.towns-context{
                 // background: #00000a;
               }
               &.villages-context{}
             }
           }
         }
         &#deprivation {
           .sub-section {
             padding: 0;
             .legend {
               padding: $buffer*3;
               padding-bottom: 0;
               background: $heroBackgroundColor;
                font-family: $secondaryFontFamily;
                font-size: $primaryFontSize/1.5;
                .legendLabel {
                  color: $darkFontSecondary;
                }
                .legendText {
                  color: $heroFontColor;
                  .legendLine {
                    width: 40px;
                    height: 2px;
                    float:right;
                    margin-top: 10px;
                    &.water {
                      background: #66CCFF;
                    }
                    &.electricity {
                      background: #FF9900;
                    }
                  }
                  p.icon {
                    width: 40px;
                    float: right;
                    margin-top: -6px;
                    img {
                      width: 40px;
                    }
                    .undelivered {
                      opacity: .5;
                    }
                  }
                }
              }//legend
             &.hero-container {
               padding: $buffer*3;
             }
             .bigImage {
               padding: $buffer*3;
               .diagramCaption {
                 margin-bottom: $buffer*3;
                 font-family: $secondaryFontFamily;
                 font-size: $primaryFontSize/1.5;
                 color: $darkFontEmphasis;
               }
               &.imageDark {
                 background: $navBackgroundColor;
               }
               &.imageLighter {
                 background: $heroBackgroundColor;
               }
               img {
                 width: 100%;
               }
             }
           }
         }
         &#acts {}
         &#stayUpdated {
           .hero-container {
             // height: 100vh;
           }
         }
       }
     }
  }
}
