@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  .page-container {
    padding: 0; margin: 0;
     .container-fluid {
       padding: 0; margin: 0;
       section {
         height: 90vh;
         width: 100vw;
         background: $neutralBackgroundColor;
         padding: $buffer*2;
         font-size: $primaryFontSize;
         .hero-container {
           font-size: $heroFontSize;
           opacity: 1;
         }
         .row {
           opacity: 0;
         }
         &#villages {
           background: url("../assets/tests/template-01.png");
           background-size: cover;
         }
       }
     }
  }
}
