@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";

body {
  .page-container {
    padding: 0; margin: 0;
     .container-fluid {
       padding: 0; margin: 0;
       section {
         min-height: 90vh;
         height: 100%;
         width: 100vw;
         background: $neutralBackgroundColor;
         padding: $buffer*2;
         font-size: $primaryFontSize;
         .hero-container {
           font-size: $heroFontSize;
           opacity: 1;
         }
         .row {
           // opacity: 0;
         }
         &#villages {
           margin-top: -$offsetPeek;
           // background: url("../assets/tests/test.png");
           // background-size: cover;
           // background-repeat: no-repeat;
           .oneImage-container {
             .imageTest {
               img {
                 width: 100%;
               }
             }
           }
         }
       }
     }
  }
}
